*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/*
   --background-color: #ffffff; /* Branco puro para o fundo 
    --text-color: #ffffff; /* Preto suave para um bom contraste no texto 
    --sky: rgba(53, 53, 53, 0.866); /* Um tom mais equilibrado de azul (SteelBlue) para o céu 
    --header-color: rgba(12, 86, 235, 0.759); /* Um branco bem claro, mas distinto do fundo 
    --container-principal: rgba(12, 86, 235, 0.759); /* Branco com leve transparência para manter o destaque no container principal 
    --background-input: rgba(240, 240, 240, 0.9); /* Cinza claro e suave para o fundo dos inputs 
    --border-input: rgba(200, 200, 200, 0.9); /* Borda clara, mas com contraste suficiente para inputs 
    --container-info-clima: ; /* Fundo claro, mantendo leve contraste com o fundo geral 
    --divs-detalhes: rgba(44, 104, 222, 0.759); /* Cinza mais escuro para destacar detalhes 
    --shadow-divs-detalhes: rgba(255, 254, 254, 0.15) ; /* Sombra sutil para dar profundidade, mas sem pesar 
    --div-view-clima: rgba(100, 149, 237, 0.5); /* Azul mais vibrante e com transparência para destacar a visualização do clima 
*/

:root {
    /* Variáveis padrão para o tema claro */
    --background-color: #000000;
    --text-color: aliceblue;
    --sky:  rgb(31, 12, 235);
    --header-color: rgb(30, 30, 30);
    --container-principal: #2929299f;
    --background-input: #434242b0;
    --border-input: #ffffffb6;
    --container-info-clima: #48484862;
    --divs-detalhes: #2e2e2ecc;
    --shadow-divs-detalhes: rgba(0, 0, 0, 0.438);
    --div-view-clima: rgba(0, 47, 255, 0.427);

}
.light-theme {
    --background-color: rgba(51, 75, 210, 0.763);
    --text-color: rgb(0, 0, 0);
    --sky:  rgb(31, 12, 235);
    --header-color: rgb(183, 183, 183);
    --container-principal: #ffffffcf;
    --background-input: #434242b0;
    --border-input: #ffffffb6;
    --container-info-clima: #48484862;
    --divs-detalhes: #d7d4d4cc;
    --shadow-divs-detalhes: rgba(157, 155, 155, 0.438);
    --div-view-clima: rgba(0, 47, 255, 0.732);

}

body{
    background-color: var(--background-color);
}
.backEffect{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 999;
    animation:  toEmerge 1.5s ease-in-out ;
}

/* @keyframes toEmerge {
    from{
        margin-left: -200%;
    }to{
        margin-left: 0;
    }
} */

.header{
    width: 97%;
    height: 8vh;
    margin: 0.5em 1.5%;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.box-logo{
    margin: 0 0.7em;
    font-size: 1.5em;
}

.box-logo h2{
    color: var(--text-color);
    font-weight: 1em;
}

.box-logo span{
    color: var(--sky);
}
.bottom-modo{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 5px;
    background-image: url("../imgs/night.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
    margin-right: 1.5%;
}

.circle-bottom{
    width: 43px;
    height: 43px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/lua.png");
    background-size: cover;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    opacity: 1;
    
}
.label-container{
    height: 10vh;
    color: var(--text-color);
    text-align: center;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main{
    width: 100%;
    height: 79.6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-infos{
    width: 80vw;
    height: 70vh;
    background-color: var(--container-principal);
    position: relative;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.container-info{
    width: 40vw;
    height: 70vh;
    /* border-radius: 10px; */
    overflow: hidden;
    position: relative;
}

.infos-clima{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* color: wheat; */
    padding: 1em 1em;
    z-index: 999;
}
.container-temp{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    font-size: 2.5em;
    line-height: 1.5em;
    z-index: 999;

}
.container-temp h2{
    margin-bottom: 0.5em;
}

.container-temp p{
    font-size: 0.8em;
}

.input-pesquisa{
    width: 40vw;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--background-input);
    border: 1px solid var(--border-input);
    margin: 0;
    position: relative;
    line-height: 1;
    color: var(--text-color);
    font-size: 0.4em;

}
.clima{
    z-index: 999;
    color: var(--text-color);
}
.container-pesquisa{
    position: relative;
    height: 7vh;
    display: flex;
}
.icon-lupa{
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    line-height: 2;
}

.box-list-days{
    z-index: 999;
}
.header-container-local{
    width: 100%;
    height: 10vh;
    background-color: ;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-header{
    display: flex;
    height: 4vh;
    gap: 0.5em;
    flex-direction: row ;
    align-items: flex-end;
    color: var(--text-color);
}
.list-days{
    width: calc(100% - 2em);
    height: calc(100% - (10vh + 2em) );
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.item-day{
    width: calc( 100% - 1em) ;
    height: 18%;
    border-radius: 0.5em ;
    background-color: var(--divs-detalhes);
    color: var(--text-color);  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0  0.5em ;
}
.item-day-atual{
    width: calc( 100% - 1em) ;
    height: 18%;
    border-radius: 0.5em ;
    background-color: var(--divs-detalhes);
    color: var(--text-color);  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0  0.5em ; 
}


.container-four-infos{
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
}
.container-humidity-wind_speed{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 45%;
}
.container-temp-max-min{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 45%;
}

.details-climas{
    display: flex;
    gap: 0.3em;
    font-size: 0.8em;
    width: calc(100% - (0.8em + 4px));
    height: calc( 50% + 1.1em);
    border-radius: 10px;
    background-color: var(--divs-detalhes);
    align-items: center;
    padding: 0.2em 0.4em;
    box-shadow: 5px 5px 5px var(--shadow-divs-detalhes);    
}

.view-clima{
    background-color: var(--div-view-clima);
    z-index: 999;
    display: flex  ;
    padding: 0.1em 1em;
    border-radius: 10px;
    font-size: .7em;
    gap: 1em;
    width: calc( 450px - (2em));
}

.p-clima{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    gap: 0.1em;
}

.text-clima{
    font-size: 1.5em;
    line-height: 1em;
}

.desc-clima{
    line-height: 1em;
    font-size: 4em;
}
.icon-clima{
    width: 150px;
}

.title-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8em;
    gap: 0.5em;
    padding: 0.1em 0;
}

.title-cont p{
    line-height: 1em;
}

.title-card{
    font-weight: bold;
}